<template lang="html">
<div class="container">
  <div class="row">
    <div class="col text-left">
      <h2>Listado de libros</h2>
      <b-table striped hover :items="books" :fields="fields">

      </b-table>
    </div>
  </div>
</div>
</template>

<script>
  import axios from 'axios';
  export default{

  data(){
    return{
      fields:[
        { key: 'title', label: 'Título' },
        { key: 'description' , label:'Descripción' },
        { key: 'action' , label:'Acción' }
  ],
  books:[]
    }
  },
  methods:{
      getBooks () {
      const path = 'http://127.0.0.1:8000/api/v1/books/'
      axios.get(path).then((response) => {
        this.books = response.data
        console.log(response.data)
      })
      .catch((error) => {
        console.log(error)
      })
    }
  },
  
     created(){
    this.getBooks()
}
}

</script>
<style lang="css"></style>
